<a href="https://colab.research.google.com/github/Zoxng/ComputerS/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
list1 = range(0,9,1)

In [7]:
list(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
list2 = range(1,10,1)

In [9]:
list(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list3 = range(1,10,2)

In [11]:
list(list3)

[1, 3, 5, 7, 9]

In [12]:
list4 = range(10,1,-2)

In [13]:
list(list4)

[10, 8, 6, 4, 2]

In [18]:
n = int(input("請輸入一個正整數: "))
for n in range(n):
  print(n+1,end=",")

請輸入一個正整數: 5
1,2,3,4,5,

In [19]:
n = int(input("請輸入一個正整數: "))
for n in range(n):
  print(n+1,end=",")

請輸入一個正整數: 12
1,2,3,4,5,6,7,8,9,10,11,12,

In [21]:
n = int(input("請輸入一個正整數: "))
sum = 0
for n in range(n+1):
  sum = sum+n
print(sum)

請輸入一個正整數: 10
55

In [22]:
n = int(input("請輸入一個正整數: "))
sum = 0
for n in range(n+1):
  sum = sum+n
print(sum)

請輸入一個正整數: 50
1275

In [3]:
n = int(input("請輸入一個正整數: "))
total = 0
for i in range(1,n+1):
  total += i
  sum_list.append(total)
print("1到",n,"的整數合為:",)

SyntaxError: ignored

In [7]:
n = int(input("請輸入一個正整數: "))
total = 0
for i in range(1,n+1):
  total += i
  print("1到",n,"的整數和］為:",total)

請輸入一個正整數: １０
1到 10 的整數和］為: 1
1到 10 的整數和］為: 3
1到 10 的整數和］為: 6
1到 10 的整數和］為: 10
1到 10 的整數和］為: 15
1到 10 的整數和］為: 21
1到 10 的整數和］為: 28
1到 10 的整數和］為: 36
1到 10 的整數和］為: 45
1到 10 的整數和］為: 55